<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 🔎 Easter eggs</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <style>
        #footer{
            background-color: blueviolet;
            padding: 10px;
        }
    </style>    
</head>

<body>
    <header class="col-lg-12 col-md-12 col-sm-12  bg-warning mb-8 row ">
        <div class="col-lg-12 d-flex justify-content-between">
            <button type="button" id="homeBtn" class="btn btn-lg"> EggHeads </button>
            <input id="movieSearch" class="m-4 w-50" type="text" placeholder="Find a movie">
            <button type="button" id="loginBtn" class="btn">Login</button>
        </div>
        <div class="col-lg-12 text-center">
            <p> See something, say something. </p>
        </div>
    </header>
  <div class="main col-lg-12 col-sm-0 row m-3 mvh-100">
        <div id="leftNav" class="col-lg-3 col-md-3 col-sm-0 mvh-100">
            <div id="leftBorder" class="container-fluid border border-1 rounded p-4 col flex-fill min-vh-100">
                <div> 
                    <h4 class="text-center">Recently released</h4>

                </div>
                <div> 
                    <h4 class="text-center">Highest rated movie</h4>
                </div>
            </div>
        </div>
        <div id="mainbody" class="row col-lg-9 col-md-9 col-sm-12">
            {{{body}}}
        </div>
    </div>
   <footer id="footer" class="text-center bottom">
        <p>We take the time to find the eggs that movie makers leave for us and their loved ones.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>