<!DOCTYPE html>
<html>
<head>
  <title>Movie Layout</title>
</head>
<body>
  <header>Movie Layout Header</header>
  {{{body}}} <!-- This will be replaced by the view content -->
  <footer>Movie Layout Footer</footer>
</body>
</html>