<h3 class="text-center">Highest grossing film of all time</h3>
<div id="container-fluid">
    <div class="row">
        <img class="col-lg-3 col-md-3" src="images/Avatar-poster_optimized.png" alt="Avatar Poster">
        <div class="col-lg-9 col-md-9">
            <h4>Avatar, 2019</h4>
            <h5>Director:</h5>
            <p>James Cameron</p>
            <h5>Cast:</h5>
            <p>Sam Worthington, Zoe Saldana, Stephen Lang, Michelle Rodriguez, Sigourney Weaver</p>
            <h5>Plot:</h5>
            <p>A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</p>

            {{#if loggedIn}}
            <div>
                {{#each discussions as |discussion|}}
                {{discussion.text}}
                {{/each}}
            </div>
            <div>
                {{else}}
                <a href="/login">Log in to see all of the Easter Eggs!</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>