<div id="profileLogout" class="col-lg-12 col-md-12 col-sm-12">
    <h2>You have been logged out.</h2>
<div class="tenor-gif-embed" data-postid="16238826" data-share-method="host" data-aspect-ratio="1.3913" data-width="50%"><a href="https://tenor.com/view/see-you-next-time-farewell-bye-see-ya-so-long-gif-16238826">See You Next Time Farewell GIF</a>from <a href="https://tenor.com/search/see+you+next+time-gifs">See You Next Time GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>