<div id="profile" class="col-lg-12 col-md-12 col-sm-12">
    <h2>Username: {{user.username}}</h2>
    <h2>Email address: {{user.email}}</h2>

    <h3>We're happy you're here {{user.username}}</h3>
    <div class="tenor-gif-embed" data-postid="9582840" data-share-method="host" data-aspect-ratio="1.30719" data-width="50%"><a href="https://tenor.com/view/breakfast-egg-dinosaur-food-hello-gif-9582840">Breakfast Egg GIF</a>from <a href="https://tenor.com/search/breakfast-gifs">Breakfast GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <button type="button" id="logOut">Log Out</button>
</div>
